* {
 font-size: 62.5%; /*62.5% 1rem = 10px*/ 
}

html {
  font-size: 1.5rem;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.5rem;

}

button {
  font-family: 'Sedgwick Ave', cursive;
  font-size: .8rem;
}